<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{$description}">
        <meta name="keywords" content="{$keywords}">
        <meta name="author" content="STORMSOFT.cz">
        <meta name="robots" content="{$robots}" n:ifset="$robots">     
        <link rel="shortcut icon" href="{$basePath}/css/front/favicon.png">
        <title>{block #title}{$title} | Sign Making GSP.cz{/block}</title>
        {control css}
        {block head}{/block}
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="{$basePath}/js/front/html5shiv.js"></script>
          <script src="{$basePath}/js/front/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        {define subnav}  
        <ul class="nav nav-pills nav-stacked">
            {foreach $subnav[children] as $node}
            <li n:class="$node[current] !== FALSE ? active"><a href="{!$node[url]}" target="{!$node[target]}">{$node[title]}</a></li>
            {/foreach}
        </ul>
        {/define}

        <div class="header">
            <div class="navbar navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a n:href="Default:default" class="navbar-brand"><img src="{$basePath}/images/front/logo.png" /></a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <div class="navbar-right btn-group">
                            <span class="lang">{$lang}</span>
                            <a class="btn-text dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                            <ul class="dropdown-menu">     
                                {foreach $langs as $key => $val}
                                <li><a n:href="this, lang => $key">{$val}</a></li>
                                {/foreach}
                            </ul>
                        </div>
                        <form action="{link Default:search}" class="navbar-form navbar-right navbar-search" role="search">
                            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                            <div class="form-group">
                                <input type="text" class="form-control" id="searchInput" name="q" placeholder="Hledaný text">
                            </div>
                        </form>
                        {var $cnt = 0}
                        {var $columns = 0}
                        {block #nav}
                        {*
                        {var $columnsCnt=1}
                        <ul n:class="$cnt==0 ? 'nav navbar-nav navbar-right', $cnt ? 'dropdown-menu', $columns ? 'multicolumn'">                             
                            <li n:foreach="$navigation as $node" n:class="$node[current]!==FALSE ? active, $cnt==0 ? dropdown, ($cnt>0 && count($node[children])) ? dropdown-submenu, $iterator->last ? last, $columns ? 'column'.$columnsCnt, ($columns && $iterator->counter%6==1 && $iterator->counter!=1) ? 'reset'">
                                <a href="{$node[url]}" target="{!$node[target]}" n:class="count($node[children]) && !$cnt ? dropdown-toggle"{if count($node[children])} data-hover="dropdown" data-delay="100" data-close-others="true"{/if}><span>{if count($node[children])}{/if}{$node[title]}</span></a>
                                {if count($node[children])}
                                {include #nav, navigation => $node[children], cnt => $cnt+1, columns => (count($node[children])>4 ? 1:0)}
                                {/if}
                                {if $columns && $iterator->counter%6==0}
                                    {var $columnsCnt++}
                                {/if}
                            </li>                            
                        </ul>
                        *}
                        {/block}     
                    </div>
                </div>
            </div>
        </div>

        {ifset #before-content}
        {include #before-content}
        {/ifset}

        <div class="content">
            <div class="container">

                <ol n:if="count($breadcrumb)>1" class="breadcrumb" n:inner-foreach="$breadcrumb as $link">
                    <li n:class="$iterator->last ? active"><a href="{!$link[url]}">{$link[title]}</a></li>
                </ol>

                {include #content}

            </div>
        </div>

        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-3">
                        <img src="{$basePath}/images/front/footer_icon_phone.png" />
                        <p><strong>Volejte</strong></p>
                        <p>(+420) 604 135 318</p>
                    </div>
                    <div class="col-xs-3">
                        <img src="{$basePath}/images/front/footer_icon_mail.png" />
                        <p><strong>Pište</strong></p>
                        <p>info@rsfinco.cz</p>
                    </div>
                    <div class="col-xs-3">
                        <img src="{$basePath}/images/front/footer_icon_place.png" />
                        <p><strong>Sídlo</strong></p>
                        <p>Rybná 716/24<br />
                            110 00  Praha 1 - Staré Město<br />
                            Czech Republic</p>
                    </div>
                    <div class="col-xs-2 col-xs-offset-1 social-media">
                        <p><strong>Social media</strong></p>
                        <a n:href=""><i class="fa fa-facebook-square"></i></a>                        
                        <a n:href=""><i class="fa fa-twitter"></i></a>                        
                        <a n:href=""><i class="fa fa-youtube"></i></a>                        
                    </div>
                </div>
            </div>
            <div class="copy">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6">
                            © 2014 RS Financial Solution. Všechna práva vyhrazena.
                        </div>
                        <div class="col-xs-6 text-right">
                            Tyto stránky vytvořilo studio <a href="http://www.stormsoft.cz" target="_blank">Stormsoft</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>     

        {control js}
        {block scripts}
        {/block}
    </body>
</html>