/**
 * StormAdmin basic styles (backend)
 * 
 * @copyright Copyright (c) 2014 STORMSOFT.cz
 *
 */

@import "theme.less";
@import "../less/mixins.less";

@base-color: #516372;

body {
    background-color: #f7f7f7;
    font-family: sans-serif;
    color: @base-color;
    padding: 0;
    margin: 0;
}
a {
    color: #0088cc;
}
a:hover {
    text-decoration: underline;
}
li {
    line-height: 20px;
}
h1, h2, h3, h4, h5, h6 {
    color: #000;
}
h3 {
    font-size: 20px;
    margin-top: 0;
}
h6 {
    font-size: 14px;
    margin-top: 0;
}
.hand {
    cursor: pointer;
}
.no-left-marg {
    margin-left: 0;
}
.table {
    tr:first-child td {
        border-top: none;
    }
}
.table.table-striped {
    td {
        border-top: none;
    }
}
#ajax-spinner {
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -15px 0 0 -15px;
    background: url('../images/ajax-loader.gif') no-repeat 50% 50%;
    padding: 13px;
    font-size: 0;
}

.navbar-main {
    margin-bottom: 0;    
    border: 0;
    border-bottom: 1px solid #191e23;
    .border-radius(0px);
    .box-shadow(0 1px 10px rgba(0,0,0,0.1));
    #gradient > .vertical(#2c3742, #28303a);  
    min-height: 48px;
    .navbar-inner {
        margin-left: 20px;
        margin-right: 20px;
    }
    .navbar-btn {
        float: left;
        margin-top: 10px;
    }
    .navbar-brand {    
        .text-hide();
        background: url('../images/admin/common/logo.png') no-repeat;
        width: 184px;
        height: 30px;
        display: block;
        float: left;
        padding: 0;
        margin-top: 7px;
        margin-left: 0;
    }
    .navbar-toggle .icon-bar {
        background: #fff;
    }
    .nav {
        > li > a {
            padding: 13px 15px 8px;
            border-left: 1px solid #101417;
            color: #9ba3ad;
            height: 47px;
            .caret {
                border-top-color: #9ba3ad;
                border-bottom-color: #9ba3ad;
            }
        }
        > li > a:hover  {
            background: rgba(25, 31, 36,0.6);
            border-left: 1px solid #101417;
            color: #fff;
            .caret {
                border-top-color: #fff;
                border-bottom-color: #fff;
            }
        }
        > li > a:focus {
            background: none;
        }
        .open > a, .open > a:hover, .open > a:focus {
            background: rgba(25, 31, 36,0.6);
            border-left: 1px solid #101417;
        }
        .settings i {
            font-size: 18px;
        }
    }
}
body.menu {
  overflow-x: hidden;
}
body.menu #content {
  margin-left: 165px;
  position: fixed;
  width: 850px;
}
body.menu #sidebar {
  position: absolute;
  left: 0;
  border-right: 0px;
  box-shadow: none;
}
#sidebar {
    position: absolute;
    width: 180px;
    float: left;
    margin: 0em;
    padding-top: 30px;
    .main-nav {
        padding: 0 15px;
        margin-left: 5px;
        list-style: none;
        > li {
            line-height: 20px;
            position: relative;
            > a {
                display: block;
                margin-left: -2px;
                margin-right: -15px;              
                padding: 19px 14px 15px 14px;
                margin-bottom: 5px;
                border-bottom: 1px solid #dae1e8;
                box-shadow: 0 2px 1px -1px #FFFFFF;
                color: rgb(110, 130, 155);
                outline: 0px;
                width: 100%;
                span {
                    margin-left: 33px;
                }
            }
            > a:hover {
                color: rgba(51, 69, 90, 1);
                text-decoration: none;
            }
            i {
                font-size: 20px;
                position: absolute;
                top: 16px;
            }
            .glyphicon-chevron-down {
                font-size: 11px;
                position: relative;
                float: right;
                top: 5px;
                margin-left: 0;
            }
        }
        > li.active {
            .dropdown-toggle {
                border-bottom: 0;
                box-shadow: none;
            }
            > a {
                color: rgba(51, 69, 90, 1);
            }
        }
        .submenu.active {
            display: block;
        }
        .submenu {
            list-style-type: none;
            display: none;
            margin-top: 7px;
            margin-bottom: 15px;
            margin-right: 5px;

            padding-left: 15px;
            border-bottom: 1px solid #dae1e8;
            box-shadow: 0 2px 1px -1px #FFFFFF;
            padding-bottom: 10px;
            a {
                font-weight: normal;
                font-size: 13px;
                color: rgb(76, 83, 90);
                text-decoration: none;
                display: block;
                margin-bottom: 7px;
            }
            a:hover {
                text-decoration: underline;
            }
            li.active a {
                font-weight: bold;
            }
        }
        .pointer {
            position: absolute;
            right: 9px;
            top: 20px;
            .arrow, .arrow-border {
                border-color: transparent #fff transparent transparent;
                border-width: 11px;
                border-style: solid;
                font-size: 0;
                left: 50%;
                line-height: 0;
                margin: 0 auto;
                position: absolute;
                top: 0;
                width: 0;
                z-index: 801;
                left: 0;
                margin-left: 45%;
            }
            .arrow-border {
                border-color: transparent rgb(192, 210, 221) transparent transparent;
                border-width: 11px;
                margin-left: -1px;
                border-style: solid;
                z-index: 800;
                top: 0px;
            }
        }
    }
}
#content {
    min-width: 400px;
    min-height: 620px;
    margin-bottom: 100px;
    padding-bottom: 50px;
    overflow: hidden;
    position: relative;
    background: #fff;
    margin-left: 177px;
    border-left: 1px solid #dae3e9;
    border-bottom: 1px solid #dae3e9;
    box-shadow: -3px 3px 3px -2px #f1f1f3;
    border-radius: 0px 0px 0px 5px;
    -webkit-transition: margin-left .3s ease;
    -moz-transition: margin-left .3s ease;
    -o-transition: margin-left .3s ease;
    -ms-transition: margin-left .3s ease;
    transition: margin-left .3s ease;
    #content-wrap {
        margin: 0;
        > .container {
            padding: 40px 40px 0 40px;
        }
    }
}
.page-header {
    margin-top: 0;
    margin-bottom: 50px; 
    border: 0;
    h1 {
        font-weight: normal;
        margin: 0;
        float: left;
        line-height: inherit;
        color: #29323d;
        font-size: 24.5px;
    }
}
.subnav {
    background-color: #eee;
    /*@include background-image(linear-gradient(#f5f5f5, #eeeeee));*/
    border-radius: 2px;
    border: 1px solid #ddd;
    margin-bottom: 20px; 
    > .nav {
        margin-bottom: 0;  
    }
}
.heading {
    padding: 6px 10px;
    height: 22px;
    background-color: #eee;
    border-radius: 2px;
    border: 1px #d2d2d2 solid;    
    h3 {
        line-height: 22px;
        font-size: 16px;
        margin: 0;
    }
}
.content {
    padding: 10px;
    background: #fcfcfc;
    border-radius: 0 0 2px 2px;
    border: 1px #d2d2d2 solid; 
    border-top: 0;
}
.btn-text {
    display: inline-block;
    cursor: pointer;
    margin-top: 2px;
    padding-right: 0px !important;
    padding-left: 0px !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    color: #08C;
    text-decoration: none !important;
    font-size: 13px;
    .caret {
        margin-top: 7px;
        border-top-color: #08C;
        border-bottom-color: #08C;
        line-height: 5px !important;
        opacity: 1;
    }
}

.form-edit {
    .nav-tabs {
        margin-bottom: 15px;
    }
    .form-group:hover {
        background-color: #f5f5f5;
    }
    .form-group {
        margin-top: 0;
        margin-bottom: 15px;
        padding: 5px 0px;
    }
    fieldset {
        border-bottom: 1px solid #e5e5e5;
        margin-bottom: 15px;
    }
    fieldset:last-child {
        border: 0;
    }
    legend {
        margin: 25px 0px 13px 0px;
        cursor: pointer;
        font-size: 16.25px;
        font-weight: bold;
        border: 0;
        height: 20px;
        line-height: 20px;
    }
    .checkbox {
        padding-bottom: 7px;
    }
}

.grid {
    .grid-filter-form {
        border-bottom: 1px solid #ddd;
    }
    .grid-edited-cell, .grid-filter-form {
        input[type="text"] {
            width: 92%;
            margin-bottom: 0;
        }
        select {
            width: 100%;
            margin-bottom: 0;
        }
    }
    thead {
        .head {
            background: #ccc;
            text-shadow: 0 1px 0 black;
            color: #fff;
            line-height: 40px;
            height: 40px;
            padding-left: 10px;
        }
        .grid-head-column {            
            padding: 0 10px;
            vertical-align: middle;
            height: 40px;
            text-align: left;
            a {
                font-weight: bold;
                color: @base-color;
            }
        }
        .grid-title {
            float: left;
            font-size: 15px;
        }
        .grid-results {
            float: right;
        }
        .grid-flash span {
            font-weight: normal;
        }
        .grid-flash.grid-error {
            background-color: #ef4040;
        }
        .grid-flash.grid-info {
            background-color: #0078ff;
        }
        .grid-flash.grid-successful {
            background-color: #25c319;
        }
        .grid-flash-hide{
            float: right;
            margin-right: 20px;
            cursor: pointer;
            background: url("../images/admin/grid/cross.png") no-repeat;
            width: 22px;
            height: 22px;
            display: block;
        }
    }
    tfoot {
        .foot {
            /*@include background-image(linear-gradient(#0088cc, #0077b3));*/
            text-shadow: 0 1px 0 black;
            color: #fff;
            line-height: 35px;
            height: 35px;
            padding-left: 10px;
        }
    }
    tbody {
        .grid-row-cell {    
            vertical-align: middle;
            padding: 0 10px;
            height: 40px;
        }
        .grid-action-checkbox {
            line-height: 26px;
        }
        .grid-edited-cell {
            select, input {
                margin-bottom: 0;
            }
        }
        .grid-actions {
            min-width: 90px;
        }
    }
    .grid-button {
        margin: 0 4px;
    }
    .grid-datepicker{
        background: url("../images/admin/grid/calendar.png") no-repeat right center;
    }
    .grid-filter-form-active {
        background-color: #f7f7f7;
    }
    .grid-order{
        display: inline-block;
        width: 10px;
        height: 15px;
        margin-top: 3px;
        position: absolute;
        margin-left: 5px;
    }
    .grid-row:hover .grid-row-sortable  {
        background-image: url('../images/admin/grippy.png');
        background-repeat: no-repeat;
        background-position:  50% 50%;
    }
    .grid-row:hover {
        background-color: #f2f2f2;
    }
    tr.grid-row-odd{
        background-color: #fff;
    }
    tr.grid-row-even {
        background-color: #fff;
    }
    .grid-row-sortable:hover {
        cursor: url('../images/admin/openhand.cur'), default;
    }
    .grid-subgrid {
        font-size: 18px;
        &:hover {
            text-decoration: none;
        }
    }
}
.grid-action-box {
    float: left;
    input {
        float: left;
        margin: 0 20px 0 0;
    }
    select {
        float: left;
        width: auto !important;
        margin: 0 10px 0 0;
    }
}
.pagination-wrap {
    .pagination {
        margin-top: 0;
    }
    .btn-toolbar {
        margin-top: 7px;
        margin-left: 10px;
    }
    .btn-group {
        vertical-align: top;
        margin-right: 20px;
        float:none;
    }
    .btn-text {
        margin-top: 0;
        padding-top: 0;
        .caret {
            margin-top: 0;
        }
    }
}

label, input, button, select, textarea, select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    font-size: 13px;
}
.btn {
    font-size: 13px;
}
.fileuploader {
    .file-container {
        margin-bottom: 15px;
        .image {
            .no-image {
                padding: 30px 10px 0 10px;
                border-radius: 8px;
                border: 4px dotted #ccc;
                display: block;                    
                height: 92px;
                font-size: 15px;
                color: #ccc;
                text-align: center;
            }
            img {
                display: block;
                width: 100%;
                height: 50px;
            }
        }
        .upload-attach {
            .upload-message p {
                margin: 0;
                i {
                    margin-right: 3px;
                }
            }
            .upload-control {
                border-radius: 4px;
                background: #eee;
                border: 1px solid #ccc;
                padding: 5px;
                margin-bottom: 5px;
            }
            .upload-local {
                overflow: hidden;
                float: left;
                position: relative;
                input {
                    position: absolute;
                    cursor: pointer;
                    bottom:0;
                    right:0;
                    .opacity(0);
                }
            }
            label {
                font-size: 12px;
                margin-bottom: 2px;
            }
        }  
        .upload-buttons {
            i {
                margin: 0 3px;
            }
        }
    }
    .delete {
        opacity: 0.4;
    }
    a.active {
        font-weight: bold;
    }
}
.editor {
    .nav-tabs {
        padding-left: 5px;
        border-bottom: 0;
        margin-bottom: 0;
        a {
            border: 1px solid #bbb;
            padding: 5px 7px;
            &:hover {
                border: 1px solid #bbb;
            }
        }
    }
    textarea {
        border: 1px solid #bbb;
        box-shadow: none;
        border-radius: 0;
    }
}

.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 30px auto 0;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
    .form-signin-heading, .form-signin .checkbox {
        margin-bottom: 10px;
    }    
}
.controls {
    > .radio {
        width: 60px;
        margin-right: 12px;
        text-align: left;
    }
    > .cbox3slist {
        img {
            float: left;
            position: relative;
            top: 3px;
            margin-right: 10px;
            margin-bottom: 10px;
        }
    }
}
.bar {
    display: inline-block;
    height: 20px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: right;
    font-size: 11px;
    font-weight: bold;
    color: #ffffff;
    background-color: #5ECCD6;
}
.analytics {
    .widget {
        margin-bottom: 30px;
        .title {
            padding-left: 10px;
            padding-bottom: 10px;
            margin-bottom: 5px;
            border-bottom: 1px solid #dddddd;
        }
    }
    .daterange {
        text-align: right;
        form {
            margin-bottom: 0;
        }
        .form-group {
            padding: 0 2px 0 0;
        }
        .btn {
        }
        .col-lg-3 {
            float: none;
        }
    }
    .btn-group {
        margin-top: 6px;
    }
    .btn-group > .btn.active { 
        z-index: 0;
    }
    .comments {
        padding-left: 0;
        margin-left: 0;
        list-style: none;
    }
    .pieContainer {
        #piechart {
            float: left;
        }
        ul {
            float: left;
            margin-top: 50px;
            margin-left: 5%;
            list-style: none;
        }
        li {
            margin-bottom: 20px;
        }
        .labelColor {
            display: inline-block;
            width: 10px;
            height: 10px;
            margin-right: 10px;
            vertical-align: 3px;
            border-radius: 5px;
        }
        .labelTotal {
            display: inline-block;
            margin-right: 7px;
            font-size: 20px;
            font-weight: bold;
            color: #555555;
        }
        .labelName {
            color: #999999;
        }
    }
}

#calendar {
    position: relative;
    width: 100%;
    margin: 0 auto;
    margin-top: -10px; 
}

.calendar-nav {
    position: absolute;
    top: 50px;
    left: 150px;
}
.calendar-wrapper {
    position: relative;
    .daterange {
        text-align: right;
        position: absolute;
        top: -60px;
        right: 0;
        form {
            margin-bottom: 0;
        }
        .form-group {
            padding: 0 2px 0 0;
        }
        .btn {
        }
        .col-lg-3 {
            float: none;
        }
    }
    .fc-header-title h2 {
        font-size: 20px;
    }
    .fc-grid th {
        text-align: right;
        border-width: 0px 0px 1px 0px !important;
        padding-right: 15px;
        color: #a9b6c5;
        text-transform: uppercase;
        font-weight: lighter;
        padding-bottom: 10px;
    }
    .fc-day {
        z-index: 100;
    }    
}

.popup {
    position: absolute;
    background: #fff;
    text-align: left;
    width: 335px;
    border: 1px solid #b2b4b6;
    box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.35);
    border-radius: 4px;
    padding: 14px;
    z-index: 1001;
    h5 {
        text-transform: uppercase;
        font-weight: 600;
        margin: 0 0 21px 0;
        font-size: 14px;
        color: #7e91aa; 
    }
    .field {
        margin-bottom: 7px; 
    }
    .field .date {
        margin-left: 15px; 
        margin-right: 5px;
    }
    .field .event-input {
        
        margin-left: 10px;
        width: 80%; 
        display: inline-block;
    }
    .colors {
        margin-bottom: 14px;
    }
    input[type="submit"] {
        float: right;
        margin-right: 10px; 
    }
    i.close-pop {
        position: absolute;
        right: 11px;
        cursor: pointer;
        top: 12px;
        opacity: 0.6;
        transition: opacity .1s linear;
        -moz-transition: opacity .1s linear;
        -webkit-transition: opacity .1s linear;
        -o-transition: opacity .1s linear; 
    }
    i.close-pop:hover {
        opacity: 1; 
    }
    .pointer {
        position: absolute;
        bottom: 0;
        left: 46%; 
    }
    .pointer .arrow,
    .pointer .arrow-border {
        border-color: #fff transparent transparent transparent;
        border-width: 11px;
        border-style: solid;
        font-size: 0;
        left: 50%;
        line-height: 0;
        margin: 0 auto;
        position: absolute;
        top: 0;
        width: 0;
        z-index: 1002;
        left: 0;
        margin-left: 45%; 
    }
    .pointer .arrow-border {
        border-color: #888888 transparent transparent transparent;
        border-width: 12px;
        margin-left: -1px;
        border-style: solid;
        z-index: 1001;
        top: 0px; 
    }
    .ColorBlotch {
        border: 1px solid #000000;
        padding: 0 3px 0 3px;
        font-family: monospace;
        cursor: pointer;
        font-size: 1.1em;
        margin-right: 1px;    
    }
    #ColorSelectionTarget {
        border: 1px solid rgb(0, 0, 0);
        width: 20px;
        padding: 0pt 6px;
        margin-left: 15px;
        background-color: rgb(51, 102, 204);
        font-size: 1.1em;
        background: url("../images/admin/fullcalendar/white_v.png")   transparent;
    }
    .input-date {
        font-size: 14px;
        width: 72px;
        padding: 0;
        border: 0;
        box-shadow: none;
        margin: 0 4px 0 4px;
    }
    .input-timepicker {
        width: 37px;
        margin: 0;
    }
    .checkbox.inline {
        padding-top: 0;
    }
    input[type="radio"], input[type="checkbox"] {
        padding-top: 1px;
    }
    .control-label {
        padding-top: 12px;
    }
}
#calendar-links {
    position: absolute;
    top: -32px;
    list-style: none;
    margin: 0;
    padding: 0;
    > li {
        float: left;
        margin-right: 8px;
        font-size: 12px;
    }
    > li.active > a {
        font-weight: bold;
    }
    > li > a:hover {
    }
}

#gallery {
    .thumbnail {
        position: relative;
    }
    .thumbnail {
        h3 {
            position: absolute;
            bottom: 53px;
            width: 229px;
            margin: 0;
            padding-left: 5px;
            background-color: #000; 
            background-color: rgb(0, 0, 0);
            background-color: rgba(0, 0, 0, 0.6);
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
            a {
                color: #fff;
            }
        }
    }
}

#result {
    .lineup {
        padding-left: 0;
        padding-bottom: 1px;
        margin-bottom: 20px;
        list-style: none;
        overflow: hidden;
        width: 25%;
        float: left;
        margin: 0 -1px 10px 0;
    }
    .lineup li {
        padding: 5px 10px;
        margin: 0 0 -1px 0;
        font-size: 12px;
        line-height: 1.0;
        border: 1px solid #ddd;
    }
    .lineup .checkbox {
        margin: 0;
        margin-top: 7px;
    }
    .lineup input {
        margin-right: 4px;
        margin-top: 0;
    }
    #check-home {
        margin: 0;
        margin-right: 4px;
    }
    #check-guest {
        margin: 0;
        margin-right: 4px;
    }
    .form-actions {
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: #f5f5f5;
        border-top: 1px solid #e5e5e5;
        *zoom: 1;
    }
    .clear {
        margin-bottom: 8px;
        label {
            display: inline-block;
            margin: 0;
        }
        input {
            margin: 0;
            margin-right: 4px;
        }
    }
    tr.edit td {
        background-color: #eeeeee;
    }
    tr.edit input, tr.edit select {
        margin-bottom: 0;
    }
    tr.period td {
        padding-top: 2px;
        padding-bottom: 2px;
        font-weight: bold;
        font-size: 12px;
        background-color: #e3e3e3;
    }
    .hidden-input {
        margin-top: 2px;
    }
}

/* responsive */
@media (max-width: 1020px) {
    #content {
        margin-left: 65px;
    }
    #dashboard-menu {
        margin-left: 5px;
    }
    #dashboard-menu .pointer {
        display: none;
    }
    #dashboard-menu li a span {
        visibility: hidden;
    }
    .calendar-wrapper .popup {
        display: none; 
    }
}
@media (max-width: 600px) {
    #content {
        margin-left: 0em;
        border-left-width: 0px;
    }	
}
@media (max-width: 822px) {
    .navbar-inverse input.search {display: none;}
}
@media (max-width: 768px) {
    
    #content {
        min-width: 0px;
        margin:0;
        #content-wrap {
            > .container {
                padding: 5px 15px 0 15px;
            }
        }
    }
    .page-header {
        margin-bottom: 15px;
    }    
    #sidebar {
        left: -200px;
        position: fixed;
        z-index: 9999;
        background-color: #f7f7f7;
        padding-top: 0px;
        border-right: 1px solid #ccc;
        width: 165px;
        box-shadow: 1px 1px 4px 1px rgb(233, 233, 233);        
        -webkit-transition: left .25s ease;
        -moz-transition: left .25s ease;
        -o-transition: left .25s ease;
        -ms-transition: left .25s ease;
        transition: left .25s ease;
        .pointer {
            display: none;
        }
        .main-nav {
            margin-left: 2px;
        }
        .main-nav > li > a {
            padding-left: 5px;
            padding-right: 5px; 
        }
    }	
}

.form-actions {
  padding: 19px 20px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
  *zoom: 1;
}

.form-actions:before,
.form-actions:after {
  display: table;
  line-height: 0;
  content: "";
}

.form-actions:after {
  clear: both;
}
.checkbox {
    img {
        position: relative;
        top: 3px;
        float: left;
        margin-left: -20px;
    }
}
.required label {
	font-weight: bold;
}
.error {
	color: #E22;
	font-weight: bold;
}
input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
  border-color: #e9322d;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
     -moz-box-shadow: 0 0 6px #f8b9b7;
          box-shadow: 0 0 6px #f8b9b7;
}